div.titulo h1 {
  font-style: italic;
  font-weight: 900
}
div.subtitulo h2 {
	font-weight: bold;
	font-style: italic;
	color: #B22222

}
div.texto p{
	font-weight: bold;

}
div.imagem img {
	width: 800px;
}
div.texto2 p{
	font-weight: bold;
	color: white;
}
div.fotinho img{
	width: 500px;
	border-radius: 40px;
}
div.texto10 p {
	font-weight: bold;
	color: white;
}
div.foto2 img {
	width: 200px;
}
div.subtitulo2 h3 {
	color:  #B22222;
}
.card-title{
	font-style: oblique;
}
.card{
	border-radius: 20px;
}