div.titulo h1 {
  font-style: italic;
  font-weight: 900
}
div.subtitulo h2 {
	font-weight: bold;
	font-style: italic;

}
div.texto p{
	font-weight: bold;

}
div.imagem img {
	width: 800px;
}
div.texto2 p{
	font-weight: bold;
	color: white;
}