div.jumbotron p{
	font-weight: bold;
	line-height: 23px;
	margin-right: 10px;

}

div.col-4 {
	margin-left: 130px;

	
	
}

p.card-text {
	font-weight: bold;

}

a.btn-primary {
	font-weight: bold;
	color: black;
	border-radius: 40px;
	
}

a.oi {
	margin-left: 70px;
	height: 30px;
	float: left;
	text-align: left;
	
}

 div.col-4 h1 {
	font-style: italic;
	font-weight: bolder;

}





