div.texto7 p{
	font-weight: bold;
}
div.foto img {
	width: 400px;
}
div.texto8 p {
	font-weight: bold;
}

div.oi p {
	color: #B22222;
	font-weight: bold;
}
#cartao {
	font-weight: bold;
}
p.card-text {
	font-weight: bold;
}
h5.card-title {
	color: #B22222;
}
#card {
	margin-bottom: 50px;
}
div.texto9 p {
	font-weight: bold;
}